body{
    margin : 0;
    padding :0;
    background: url(1330234.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}
.loginbox{
    width: 400px;
    height: 550px;
    background: rgb(2, 2, 2);
    color:#fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 20px;
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 70%;
    position: absolute;
    top:-90px;
    left:calc(50% - 50px);
    /* position: relative; */
}

h1{
    margin: 20px;
    padding: 0 0 60px;
    text-align: center;
    font-size: 32px;
   
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"] input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border:none;
    outline: none;
    height:40px;
    background: #fb2525;
    color:rgb(7, 2, 19);
    font-size:18px ;
    border-radius: 20px;

}

.loginbox input [type="sybmit"]:hover
{
    cursor:pointer;
    background: #ffc107 ;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size:12px;
    line-height:20px;
    color:rgb(34, 32, 179);
}

.loginbox a:hover{
    color:#ffc107;

}